.content {
  margin-top: 100px;
}
h1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #2c2d2e;
}
.performers_slider {
  width: 276px;
  height: 180px;
  border-radius: 16px 16px 0px 0px;
  .under_slider {
    display: flex;
    justify-content: center;
    button {
      width: 244px;
      height: 48px;
      background: #465efd;
      border-radius: 12px;
      border: none;
      a {
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}
