.header {
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding: 16px 0 16px 0;
  .logo {
    width: 166px;
    height: 24px;
    img {
      width: 166px;
    }
  }
  .menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 332px;
    margin-left: 64px;
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      background: #465efd;
      border-radius: 12px;
      height: 48px;
      width: 205px;
      padding: 12px 20px;
      color: white;
      font-weight: 400;
      border: none;
      font-size: 18px;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .menu {
      display: none;
    }
    .header__btn {
      display: none;
    }
  }
}
